{form form class => "form-inline"}
	<div class="form-group">
		<label class="sr-only" for="color">Wine color</label>
        {input color class => "form-control"}
  </div>
  <div class="form-group">
		<label class="sr-only" for="variety">Variety</label>
        {input variety class => "form-control"}
  </div>
  <div class="form-group">
		<label class="sr-only" for="classification">Classification</label>
        {input classification class => "form-control"}
  </div>
  {input send}
{/form}