{block content}

<section class="sign-in-block">

<h1 n:block=title>Přihlášení</h1>

<form n:name="signInForm">
	<div class="form-group">
		<label for="username">Uživatelské jméno</label>
    <input n:name="username" type="text" class="form-control" id="username">
	</div>
	<div class="form-group">
		<label for="password">Heslo</label>
    <input n:name="password" type="password" class="form-control" id="password">
	</div>
	<div class="checkbox">
    <label>
      <input type="checkbox" n:name="remember"> Zůstat přihlášený
    </label>
  </div>
  <button type="submit" class="btn btn-default">Přihlásit se</button>
</form>
</section>
