{block content}
<section class="sign-in-block">

<h1 n:block=title>Registrace</h1>

<form n:name="signUpForm">
	<div class="form-group">
		<label for="username">Uživatelské jméno</label>
    <input n:name="username" type="text" class="form-control" id="username">
	</div>
	<div class="form-group">
		<label for="password">Heslo</label>
    <input n:name="password" type="password" class="form-control" id="password">
	</div>
  <button type="submit" class="btn btn-default">Registrovat</button>
</form>

<br>

<a href={link Sign:In}>Zpět na přihlášení</a>

<br><br>

</section>
