{block content}

<h2>Uživatelský účet</h2>

<table class="table table-striped table-hover tablesorter">
	<thead>
		<tr>
			<th>Název vína <i class="fa fa-sort"></i></th>
			<th>Odstranit z oblíbených</th>
		</tr>
	</thead>
	<tbody>
		<tr n:foreach="$favourites as $wine">
			<td><a n:href="Homepage:detail $wine->id">{$wine->name}</a></td>
			<td><a n:href="removeFavourite! $wine->id"><i class="fa fa-minus"></i> Odstranit</a></td>
		</tr>
	</tbody>
</table>


{/block}