{block content}

<h2>Seznam vín</h2>

<div class="row">
    <div class="col-lg-12">
        <h4>Hledání na základě parametrů</h4>
        {control searchForm}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Hledání na základě párování vína a jídla</h4>
        {control wineFoodForm}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success" role="alert">
            <p>Nalezeno <strong>{count($wines)}</strong> vín.</p>
        </div>
    </div>
</div>

<br><br>

<table class="table table-striped table-hover tablesorter">
	<thead>
		<tr>
			<th>Název vína <i class="fa fa-sort"></i></th>
			<th>Odrůda <i class="fa fa-sort"></i></th>
			<th>Barva <i class="fa fa-sort"></i></th>
			<th>Klasifikace <i class="fa fa-sort"></i></th>
			<th>Rok <i class="fa fa-sort"></i></th>
			<th>Obec <i class="fa fa-sort"></i></th>
			<th>Cena <i class="fa fa-sort"></i></th>
			<th>Přidat mezi oblíbené</th>
		</tr>
	</thead>
	<tbody>
		<tr n:foreach="$wines as $wine">
			<td><a n:href="Homepage:detail $wine->id">{$wine->name}</a></td>
			<td>{$wine->variety}</td>
			<td>{$wine->color}</td>
			<td>{$wine->classification}</td>
			<td>{$wine->year}</td>
			<td>{$wine->town}</td>
			<td>{$wine->price} Kč</td>
			<td><a n:href="addFavourite! $wine->id"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat do oblíbených</button></a></td>
		</tr>
	</tbody>
</table>


{/block}