{block js}
{if $rating != 0 }
        $('#frm-ratingForm-rating').attr('data-disabled', true);
{/if}

    $( "#frm-similarRatingForm .rating-gly-star" ).click(function() {
        $( "#frm-similarRatingForm" ).submit();
    });

{/block}

{block content}

<div class="row">
    <div class="col-lg-12"><h2>{$wine->name}</h2></div>
</div>

<div class="row">
    <div class="col-lg-3">
        <img src="{$basePath}/images/{$wine->colorId}.jpg" class="img-responsive img-thumbnail">
    </div>
    <div class="col-lg-5">
        <strong>Odrůda:</strong> {$wine->variety}<br>
        <strong>Barva:</strong> {$wine->color}<br>
        <strong>Klasifikace:</strong> {$wine->classification}<br>
        {if $wine->alcohol}<strong>Alkohol:</strong> {$wine->alcohol}&nbsp;%<br>{/if}
        {if $wine->acid}<strong>Obsah kyselin:</strong> {$wine->acid}&nbsp;g/l<br>{/if}
        {if $wine->sugar}<strong>Cukernatost:</strong> {$wine->sugar}&nbsp;g/l<br>{/if}
        {if $wine->town}<strong>Město:</strong> {$wine->town}<br>{/if}
        {if $wine->region}<strong>Region:</strong> {$wine->region}<br>{/if}
        <strong>Cena:</strong> {$wine->price} Kč<br>
    </div>
    <div class="col-lg-4">
        {form ratingForm}
        {input rating, class => 'rating', type => 'number', value => $rating}
        {input wine, value => $wine->id}
        {input submit}
        {/form}
        <br>
        <a n:href="addFavourite! $wine->id"><button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat do oblíbených</button></a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
            Pomocí čísel 1&ndash;5 ohodnoťte, jak dobře se podle vás shoduje nabízená alternativa s daným vínem.
            <br>
            Parametry (cena, odrůda, cukernatost, alkohol, obsah kyselin, &hellip;), jež zvolíte pro porovnání, vybírejte podle vlastního uvážení.
            <br>
            <strong>1</strong> znamená <strong>vůbec se neshoduje</strong>, <strong>5</strong> znamená <strong>shoduje se perfektně</strong>.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning" role="alert">
            <strong>odrůda:</strong> {$wine->variety},
            <strong>barva:</strong> {$wine->color},
            <strong>klasifikace:</strong> {$wine->classification},
                {if $wine->alcohol}<strong>alkohol:</strong> {$wine->alcohol}&nbsp;%,{/if}
                {if $wine->acid}<strong>obsah kyselin:</strong> {$wine->acid}&nbsp;g/l,{/if}
                {if $wine->sugar}<strong>cukernatost:</strong> {$wine->sugar}&nbsp;g/l,{/if}
                {if $wine->town}<strong>město:</strong> {$wine->town},{/if}
                {if $wine->region}<strong>region:</strong> {$wine->region},{/if}
                <strong>cena:</strong> {$wine->price} Kč<br>
        </div>
    </div>
</div>

<div class="row">
    {foreach $similar as $w}
        <div class="col-lg-2">
            <div class="border-col">
                <span class="ratings">
                <a class="ratings" n:href="similar! $wine->id, $w->method, 1">1</a>
                <a class="ratings" n:href="similar! $wine->id, $w->method, 2">2</a>
                <a class="ratings" n:href="similar! $wine->id, $w->method, 3">3</a>
                <a class="ratings" n:href="similar! $wine->id, $w->method, 4">4</a>
                <a class="ratings" n:href="similar! $wine->id, $w->method, 5">5</a>
                </span>
                <hr>
                <span style="font-size: 80%"><a n:href="Homepage:detail $w->id">{$w->name}</a>
                <hr>
                <strong>Odrůda:</strong> {$w->variety}<br>
                <strong>Barva:</strong> {$w->color}<br>
                <strong>Klasifikace:</strong> {$w->classification}<br>
                {if $w->alcohol}<strong>Alkohol:</strong> {$w->alcohol}&nbsp;%<br>{/if}
                {if $w->acid}<strong>Obsah kyselin:</strong> {$w->acid}&nbsp;g/l<br>{/if}
                {if $w->sugar}<strong>Cukernatost:</strong> {$w->sugar}&nbsp;g/l<br>{/if}
                {if $w->town}<strong>Město:</strong> {$w->town}<br>{/if}
                {if $w->region}<strong>Region:</strong> {$w->region}<br>{/if}
                <strong>Cena:</strong> {$w->price} Kč
                </span>
            </div>
        </div>
    {/foreach}
</div>
{/block}