{block content}

{if !is_null($rcmdsPearson)}
<div class="row">
    <div class="col-lg-12">
        <h3>Metoda 1</h3>
        <p>Jak ti níže uvedená vína vyhovují (s ohledem na Tvé hodnocení; 1 znamená vůbec nevyhovují, 5 vyhovují skvěle)?</p>
        <span class="ratings">
        <a class="ratings" n:href="similarRecommended! 3, 1">1</a>
        <a class="ratings" n:href="similarRecommended! 3, 2">2</a>
        <a class="ratings" n:href="similarRecommended! 3, 3">3</a>
        <a class="ratings" n:href="similarRecommended! 3, 4">4</a>
        <a class="ratings" n:href="similarRecommended! 3, 5">5</a>
        </span>
    </div>
</div>

<div class="row">
    {foreach $rcmdsPearson as $w}
        <div class="col-lg-3">
            <div class="border-col">
                <span style="font-size: 80%"><a n:href="Homepage:detail $w->id">{$w->name}</a>
                <hr>
                <strong>Odrůda:</strong> {$w->variety}<br>
                <strong>Barva:</strong> {$w->color}<br>
                <strong>Klasifikace:</strong> {$w->classification}<br>
                {if $w->alcohol}<strong>Alkohol:</strong> {$w->alcohol}&nbsp;%<br>{/if}
                {if $w->acid}<strong>Obsah kyselin:</strong> {$w->acid}&nbsp;g/l<br>{/if}
                {if $w->sugar}<strong>Cukernatost:</strong> {$w->sugar}&nbsp;g/l<br>{/if}
                {if $w->town}<strong>Město:</strong> {$w->town}<br>{/if}
                {if $w->region}<strong>Region:</strong> {$w->region}<br>{/if}
                <strong>Cena:</strong> {$w->price} Kč
                </span>
            </div>
        </div>
    {/foreach}
</div>
{else}
<div class="row">
    <div class="col-lg-12">
        <h3>Metoda 1</h3>
        <div class="alert alert-danger" role="alert">
            <p>Počet Vámi ohodnocených vín není dostačující, tudíž Ti nemůžeme nabídnout žádné alternativy.</p>
        </div>
    </div>
</div>
{/if}

{if !is_null($rcmdsCosine)}
<div class="row">
    <div class="col-lg-12">
        <h3>Metoda 2</h3>
        <p>Jak ti níže uvedená vína vyhovují (s ohledem na Tvé hodnocení; 1 znamená vůbec nevyhovují, 5 vyhovují skvěle)?</p>
        <span class="ratings">
        <a class="ratings" n:href="similarRecommended! 4, 1">1</a>
        <a class="ratings" n:href="similarRecommended! 4, 2">2</a>
        <a class="ratings" n:href="similarRecommended! 4, 3">3</a>
        <a class="ratings" n:href="similarRecommended! 4, 4">4</a>
        <a class="ratings" n:href="similarRecommended! 4, 5">5</a>
        </span>
    </div>
</div>

<div class="row">
    {foreach $rcmdsCosine as $w}
        <div class="col-lg-3">
            <div class="border-col">
                <span style="font-size: 80%"><a n:href="Homepage:detail $w->id">{$w->name}</a>
                <hr>
                <strong>Odrůda:</strong> {$w->variety}<br>
                <strong>Barva:</strong> {$w->color}<br>
                <strong>Klasifikace:</strong> {$w->classification}<br>
                {if $w->alcohol}<strong>Alkohol:</strong> {$w->alcohol}&nbsp;%<br>{/if}
                {if $w->acid}<strong>Obsah kyselin:</strong> {$w->acid}&nbsp;g/l<br>{/if}
                {if $w->sugar}<strong>Cukernatost:</strong> {$w->sugar}&nbsp;g/l<br>{/if}
                {if $w->town}<strong>Město:</strong> {$w->town}<br>{/if}
                {if $w->region}<strong>Region:</strong> {$w->region}<br>{/if}
                <strong>Cena:</strong> {$w->price} Kč
                </span>
            </div>
        </div>
    {/foreach}
</div>
{else}
<div class="row">
    <div class="col-lg-12">
        <h3>Metoda 2</h3>
        <div class="alert alert-danger" role="alert">
            <p>Počet Vámi ohodnocených vín není dostačující, tudíž Ti nemůžeme nabídnout žádné alternativy.</p>
        </div>
    </div>
</div>
{/if}

{if !is_null($rcmdsDistance)}
<div class="row">
    <div class="col-lg-12">
        <h3>Metoda 3</h3>
        <p>Jak Ti níže uvedená vína vyhovují (s ohledem na Tvé hodnocení; 1 znamená vůbec nevyhovují, 5 vyhovují skvěle)?</p>
        <span class="ratings">
        <a class="ratings" n:href="similarRecommended! 5, 1">1</a>
        <a class="ratings" n:href="similarRecommended! 5, 2">2</a>
        <a class="ratings" n:href="similarRecommended! 5, 3">3</a>
        <a class="ratings" n:href="similarRecommended! 5, 4">4</a>
        <a class="ratings" n:href="similarRecommended! 5, 5">5</a>
        </span>
    </div>
</div>

<div class="row">
    {foreach $rcmdsDistance as $w}
        <div class="col-lg-3">
            <div class="border-col">
                <span style="font-size: 80%"><a n:href="Homepage:detail $w->id">{$w->name}</a>
                <hr>
                <strong>Odrůda:</strong> {$w->variety}<br>
                <strong>Barva:</strong> {$w->color}<br>
                <strong>Klasifikace:</strong> {$w->classification}<br>
                {if $w->alcohol}<strong>Alkohol:</strong> {$w->alcohol}&nbsp;%<br>{/if}
                {if $w->acid}<strong>Obsah kyselin:</strong> {$w->acid}&nbsp;g/l<br>{/if}
                {if $w->sugar}<strong>Cukernatost:</strong> {$w->sugar}&nbsp;g/l<br>{/if}
                {if $w->town}<strong>Město:</strong> {$w->town}<br>{/if}
                {if $w->region}<strong>Region:</strong> {$w->region}<br>{/if}
                <strong>Cena:</strong> {$w->price} Kč
                </span>
            </div>
        </div>
    {/foreach}
</div>
{else}
<div class="row">
    <div class="col-lg-12">
        <h3>Metoda 3</h3>
        <div class="alert alert-danger" role="alert">
            <p>Počet Vámi ohodnocených vín není dostačující, tudíž Ti nemůžeme nabídnout žádné alternativy.</p>
        </div>
    </div>
</div>
{/if}

{/block}