{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}Wine recommendation system</title>
	
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap-theme.min.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
    <link href="{$basePath}/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="shortcut icon" href="{$basePath}/images/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	{block head}{/block}
</head>

<body {ifCurrent Sign:*}class="body--sign"{/ifCurrent}>
	<script> document.documentElement.className+=' js' </script>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Wine recommender system</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li n:if="!$user->isLoggedIn()"><a n:href="Sign:in">Přihlásit se</a></li>
                <li n:if="$user->isLoggedIn()"><a n:href="Homepage:default">Domů</a></li>
                <li n:if="$user->isLoggedIn()"><a n:href="Homepage:account">Oblíbená vína</a></li>
                <li n:if="$user->isLoggedIn()"><a n:href="Homepage:rated">Hodnocená vína</a></li>
                <li n:if="$user->isLoggedIn()"><a n:href="Homepage:recommendation">Doporučená vína</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" n:if="$user->isLoggedIn()" >
                <li><a n:href="Sign:out">Odhlásit se</a></li>
            </ul>
        </div>
      </div>
    </nav>

    <div class="container">
    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
    {include content}
    </div>

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/jquery.tablesorter.min.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/star-rating.js" type="text/javascript"></script>
	{/block}


    <script>
        $(function() {
            $(".tablesorter").tablesorter();
            {block js}{/block}
        });


        $(".rating").rating();
    </script>
</body>
</html>
