body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
	font-family: 'Open Sans';
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}


.body--sign {
	background: url('/images/bg.jpg') center top / cover no-repeat;
	height: 100%;
	height: 100vh;
}

.sign-in-block {
	display: inline-block;
	background: rgba(255,255,255,0.9);
	border-radius: 4px;
	margin: 0 auto;
	padding: 0 20px;
	position: absolute;
	width: 300px;
	height: 360px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.table th {
	white-space: nowrap;
}

.headerSortDown,
.headerSortUp {
	color: #337ab7;
}

.row {
    margin-top: 15px;
}

.border-col {
    margin-top:10px;
    border: #cdcdcd 1px solid;
    padding: 15px;
}

.ratings {
    color: #DD0000;
    font-size: 120%
}